@font-face {
    font-family: 'momstypewriter';
    src: url('fonts/momt___-webfont.woff2') format('woff2'),
         url('fonts/momt___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rockstar';
    src: url('fonts/rockstar-extrabold-webfont.woff2') format('woff2'),
         url('fonts/rockstar-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.logo {
    /* border: 3px solid darkred;*/
    width: 30vw;
}

.logo img {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    display: flex;
    display: -webkit-flex;
    justify-content: center; 
    width: 100vw;
    max-width: 100vw;
    border-bottom: 3px solid darkred;
    border-top: 3px solid darkred;
}

.nav-wrapper a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2vw;
    font-family: rockstar, monospace, Arial, sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
}

.nav-wrapper a:hover {
    color:lightcoral
}

h1 {
    color: white;
    text-decoration: underline; 
    font-family: rockstar, Arial, Helvetica, sans-serif;
    font-size: 3vw;
}

#latest-release {
    width: 50vw;
    aspect-ratio: 16 / 9;
    border: 3px solid darkred;  
    margin-top: 1vh;
}


.artist-container {
    width: 100%;
    max-width: 100vw;
}

.artist {
    margin-top: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 99%;
}
.artist-name{
    display: inline;
    color: white;
    margin-bottom: 5vh;
    font-size: 2.5vw;
    text-decoration: underline;
}

.artist-content iframe,
.artist-content img{
    margin: 10px;
    margin-top: 20px;
    aspect-ratio: 16 / 9;
    color:white;
    max-width: 20vw;
}

#skeezwab {
    background-image:url(../img/skeezwab-background.jpg); 
    background-size: 100%;
    font-family: momstypewriter, Arial, Helvetica, sans-serif;
}

#globill {
    background-image:url(../img/globill-banner.jpg);
    background-size: 100%;
    font-family: rockstar, Arial, Helvetica, sans-serif;
}

#globill a {
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: black;  
}

#mrbones {
   background-image:url(../img/scotts-valley-flag.png); 
   background-size: 100%;
   font-family: 'Times New Roman', Times, serif;
}

#copyright {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
}

/* mobile */
@media (max-width: 750px) {  

    .logo {
        /* border: 3px solid darkred;*/
        width: 75vw;
    }

    .nav-wrapper {
        width: 70vw;
    }

    .nav-wrapper a {
        font-size: 7vw;
    }

    h1 {
       font-size: 10vw; 
   }

   #latest-release iframe{
       width: 50vw; 
   }

   .artist-content {
        display: none;
   }

   .artist-name {
       font-size: 5vw;
   }

    #copyright {
        font-size: 1.5vw;
    }

}


