@font-face {
    font-family: 'momstypewriter';
    src: url('fonts/momt___-webfont.woff2') format('woff2'),
         url('fonts/momt___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rockstar';
    src: url('fonts/rockstar-extrabold-webfont.woff2') format('woff2'),
         url('fonts/rockstar-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
    width: 100%;
    height: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.logo {
   /* border: 3px solid darkred;*/
    width: 30vw;
}

.logo img {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 25vw;
    border-bottom: 3px solid darkred;
    border-top: 3px solid darkred;
    /*border-top: none;*/
}

.nav-wrapper a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2vw;
    font-family: rockstar, monospace, Arial, sans-serif;
}

.nav-wrapper a:hover {
    color:lightcoral
}

.latest-release {
    width: 50vw;
    height: 25vw;
}

h1 {
    color: white;
    text-decoration: underline;
    font-family: rockstar, Arial, Helvetica, sans-serif;
    font-size: 3vw;
}



.artist-container {
    width: 100vw;
    position: relative;
}

.artist {
    margin-top: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.artist-name{
    display: inline;
    position: relative;
    top: 5%;
    color: white;
    margin-bottom: 5vh;
    font-size: 2.5vw;
    text-decoration: underline;
}

.skeezwab-font {
    font-family: momstypewriter, Arial, Helvetica, sans-serif;
}

.globill-font {
    font-family: rockstar, Arial, Helvetica, sans-serif;
}

.artist-pfp {
    position: relative;
    display: inline-block;
    right: 5%;
    width: 5vw;
    color:white;
    border-radius: 50%;
    border: 2px solid red;
    aspect-ratio: 1 / 1;

}

.artist-content iframe,
.artist-content img{
    position: inline;
    margin: 10px;
    margin-top: 20px;
    color:white;
    max-width: 15%;
}

#skeezwab {
    background-size: 100vw;
    background-image:url(../img/skeezwab-background.jpg); 
}


.copyright {
    bottom: 0px;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}
