@font-face {
    font-family: 'momstypewriter';
    src: url('fonts/momt___-webfont.woff2') format('woff2'),
         url('fonts/momt___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.logo {
   /* border: 3px solid darkred;*/
    width: 40vw;
}

.logo img {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    width: 40vw;
    border: 3px solid darkred;
    /*border-top: none;*/
}

.nav-wrapper a {
    color: white;
    font-size: 3vw;
    font-family: momstypewriter, monospace, Arial, sans-serif;
    text-decoration: none;
}

.nav-wrapper a:hover {
    color:lightcoral
}

.latest-release {
    width: 75%;
}

.latest-release h1 {
    color: white;
    text-decoration: underline;
    font-family: momstypewriter, Arial, Helvetica, sans-serif;
    font-size: 3vw;
}

.artist-container {
    width: 75%;
}

.artist {
    width: 100%;
}
.artist h2{
    display: inline;
    color: white;
    font-family: momstypewriter, Arial, Helvetica, sans-serif;
    font-size: 3vw;
}

.artist-pfp {
    border-radius: 50%;
    margin-right: 5px;
    aspect-ratio: 1 / 1;
    max-width: 5%;
    color:white;
}

.artist-content img{
    display: inline;
    margin: 10px;
    color:white;
    max-width: 25%;
}

.copyright {
    bottom: 0px;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}